* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0,0,0,0.6);
  font-family: 'Lato', sans-serif;
}

.modal {
  height: 26em;
  width: 32em;
  background-color: white;
  margin: 9.5em auto;
}

.exit {
  color: grey;
  text-align: right;
  font-size: 1.7em;
  font-weight: 1000;
  margin: .1em .3em;
}

.main-heading {
  text-align: center;
  padding: .2em;
  font-size: 1.5em;
  clear: both;
  color: #4b0532;
  margin-top: 1em auto;
}

.sub-head {
  text-align: center;
  color: black;
  font-size: 1em;
}

#rewards {
  margin: 1em;
}

.all-rewards {
  text-align: center;
  display: inline-block;
  float: left;
  width: calc(100%/3);
  padding: .5em;
}

.starbucks-logo {
  height: 7.5em;
  width: 7.9em;
}

.logo {
  height: 7.5em;
  width: 9.375em;
}

.all-rewards p, .all-rewards h4 {
  color: black;
}

.all-rewards h4 {
  font-size: 1em;
}

.all-rewards p {
  font-size: .9em;
}

.buttonOnClick {
  text-align: center;
}

.buttonOnClick button {
  background-color: #4b0532;
  color: white;
  text-align: center;
  font-size: 1em;
  margin: .8em;
  padding: .8em;
  width: 20em;
  border-style: none;
  outline: none;
}

.buttonOnClick a {
  display: block;
  color: #747f80;
}

.arr {
  font-weight: 800;
  font-size: 1em;
}
