* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0,0,0,0.6);
  font-family: 'Lato', sans-serif;
}

.modal {
  height: 26em;
  width: 32em;
  background-color: white;
  margin: 9em auto;
}

.exit {
  color: rgba(64, 64, 64, 0.84);
  text-align: right;
  font-size: 1.5em;
  font-weight: bold;
  margin: .1em .3em;
}

.main-heading {
  text-align: center;
  padding: .1em;
  font-size: 1.5em;
  clear: both;
  color: rgb(111, 40, 144);
  margin-top: 1em auto;
}

.sub-head {
  text-align: center;
  color: black;
  font-size: 1em;
}

#rewards {
  margin: 1em;
}

.all-rewards {
  text-align: center;
  display: inline-block;
  float: left;
  width: calc(100%/3);
  padding: 5em;
}

.all-rewards p, .all-rewards h4 {
  color: black;
}

.all-rewards h4 {
  font-size: 1em;
}

.all-rewards p {
  font-size: .9em;
}

.button {
  text-align: center;
}
